:root{
  --a:0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: black;
  color: white;
}
.left {
  width: 25vw;
  padding: 0px 10px;
}
.right {
  margin: 0;
  width: 75vw;
}
.home ul li {
  list-style: none;
  width: 15px;
  display: flex;
  gap: 15px;
  padding-top: 15px;
}
.close-btn {
  display: none;
}
.heading {
  width: 80%;
  display: flex;
  gap: 15px;
  padding-top: 15px;
  align-items: center;
  padding: 23px;
  font-size: 13px;
}
.heading img {
  width: 20px;
}
.library {
  min-height: 75vh;
  position: relative;
}
.footer {
  display: flex;
  font-size: 10px;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.footer a {
  color: grey;
}
.nav img {
  width: 15px;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  height: 65px;
}
.header > * {
  padding: 20px;
}
.spotify-playlist {
  padding: 15px;
  font-size: small;
}
.spotify-playlist .card {
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
}
.card img {
  width: 100%;
  object-fit: contain;
}
.card > * {
  padding-top: 3.5px;
}
.cards-h2 {
  font-size: medium;
}
.cards-p {
  font-size: small;
}
.cardContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 25px;
  overflow-y: auto;
  max-height: 75vh;
}
.card {
  position: relative;
  transition: all .9s;
}
.hamburger-container {
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.play {
  position: absolute;
  width: 35px;
  top: 145px;
  right: 17px;
  opacity: var(--a);
  transition: all 1s ease-out;
}
.card:hover{
  background: #2e2e2e;
  cursor: pointer;
  --a:1;
}
.buttons > * {
  margin: 0 12px;
}
.signup-btn {
  background-color: rgb(34, 34, 34);
  color: rgb(95, 90, 90);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}
.signup-btn:hover {
  font-size: 1rem;
  color: white;
}
.login-btn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 80px;
  /* font-weight: bold; */
  padding: 10px;
  font-size: 14px;
}
.login-btn:hover {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  /* padding: 10px 15px; */
}
.right {
  position: relative;
}
.play-bar {
  position: fixed;
  bottom: 5%;
  filter: invert(1);
  width: 70%;
  min-height: 30px;
  background: #dad5d5;
  padding: 12px;
  border-radius: 40px;
}
.play-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.song-list {
  height: 370px;
  overflow-y: scroll;
}
.song-list ul {
  padding: 0 10px;
}
.song-list ul li {
  list-style: decimal;
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding: 12px 0;
  width: 300px;
  overflow: hidden;
  border: 1px solid white;
  margin: 12px 0;
  border-radius: 5px;
  justify-content: space-between;
  /* overflow-y: scroll; */
}
.music1 {
  width: 30px;
}
.play-now {
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-now-button {
  width: 20px;
}
.play-now span {
  font-size: 15px;
  padding: 5px;
  width: 64px;
}
.song-list .info {
  font-size: 13px;
  overflow: hidden;
  width: 330px;
}
.info div {
  word-break: break-all;
}
.seek-bar {
  background: #000;
  height: 4px;
  border-radius: 5px;
  width: 97%;
  margin: 6px;
  /* text-align: center; */
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.circle {
  background-color: black;
  width: 13px;
  height: 13px;
  border-radius: 13px;
  position: relative;
  bottom: 5px;
  left: 0%;
  transition: left 0.5s;
}
.play-buttons img {
  cursor: pointer;
}
.volume{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.song-time {
  width: 125px;
  padding: 0 15px;
  color: #000;
}
.song-info {
  color: black;
  width: 230px;
  padding: 0 15px;
  color: #000;
}
.hamburger {
  display: none;
}
.play-in {
  display: flex;
  justify-content: space-between;
}
.logo img {
  width: 110px;
}

@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -130%;
    background-color: #000;
    transition: all 1.5s;
    z-index: 1;
    width: 360px;
  }
  .hamburger {
    width: 20px;
  }
  .right {
    width: 100vw;
  }
  .play-bar {
    width: 88vw;
  }
  .seek-bar {
    width: 87vw;
  }
  .hamburger {
    display: block;
    width: 50px;
  }
  .close-btn {
    width: 30px;
    top: 14px;
    right: 30px;
    position: absolute;
    display: block;
  }
  .timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .song-info,
  .song-time {
    width: auto;
  }
  .card {
    width: 45vw;
  }
  .cardContainer {
    margin: 0;
    justify-content: center;
  }
  .play-in {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
  }
}
@media (max-width: 333px) {
  .buttons {
    position: absolute;
    margin-left: 50%;
    display: flex;
    overflow: hidden;
  }
  .song-info{
    overflow:hidden;
  }
}
